$title-font: 'Open Sans', sans-serif;
$styled-font: 'Playfair Display', serif;
$base-font: 'Open Sans', sans-serif;
$primary-color: #e3a6b6;
$danger-color: #c9302c;
$success-color: #5cb85c;
$warning-color: #f0ad4e;
$default-color: #f7f7f7;
$dark-color: #333;
$info-color: #d4b483;